<div style="border:solid purple 5px; padding: 20px"> 

<b>–ö–æ—Å–º–∏—á–µ—Å–∫–æ–µ –ø—Ä–∏–≤–µ—Ç, –°–µ—Ä–≥–µ–π üññ!</b>
    

–î–ª—è —É–ø—Ä–æ—â–µ–Ω–∏—è –∫–æ–º–º—É–Ω–∏–∫–∞—Ü–∏–∏ –º–æ–∏ –ø–æ–º–µ—Ç–∫–∏ –±—É–¥—É—Ç –≤ –æ—Ç–¥–µ–ª—å–Ω—ã—Ö Markdown —è—á–µ–π–∫–∞—Ö. <b>–ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ —É–¥–∞–ª—è–π –∏ –Ω–µ –º–µ–Ω—è–π –∏—Ö</b> ‚Äî —Ç–∞–∫ –±—É–¥–µ—Ç –ø—Ä–æ—â–µ –æ—Ç—Å–ª–µ–∂–∏–≤–∞—Ç—å –≤–Ω–µ—Å–µ–Ω–Ω—ã–µ –∏–∑–º–µ–Ω–µ–Ω–∏—è. –ö —Å–ª–æ–≤—É –æ –¥–æ—Ä–∞–±–æ—Ç–∫–∞—Ö. –ë—É–¥–µ—Ç –Ω–∞–º–Ω–æ–≥–æ —É–¥–æ–±–Ω–µ–µ, –µ—Å–ª–∏ –æ —Å–¥–µ–ª–∞–Ω–Ω—ã—Ö –∏–∑–º–µ–Ω–µ–Ω–∏—è—Ö —Ç—ã —Ç–∞–∫ –∂–µ —Å–æ–æ–±—â–∏—à—å –º–Ω–µ –≤ –æ—Ç–¥–µ–ª—å–Ω–æ–π Markdown —è—á–µ–π–∫–µ (—ç—Ç–æ –ø–æ–∑–≤–æ–ª–∏—Ç –ø—Ä–∏–Ω—è—Ç—å –ø—Ä–æ–µ–∫—Ç –∫—É–¥–∞ –±—ã—Å—Ç—Ä–µ–µ). 
    
<hr>    
–ù–µ—Å–∫–æ–ª—å–∫–æ  —Å–ª–æ–≤ –æ–± –æ—Ñ–æ—Ä–º–ª–µ–Ω–∏–∏. –ú–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –±—É–¥—É—Ç –æ—Ñ–æ—Ä–º–ª–µ–Ω—ã —Ç—Ä–µ–º—è —Ü–≤–µ—Ç–∞–º–∏:

<div class="alert alert-success">
<b> ü§å  –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞</b>   ‚Äî –∑–µ–ª–µ–Ω—ã–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ–∑–Ω–∞—á–∞–µ—Ç, —á—Ç–æ —ç—Ç–∞ —á–∞—Å—Ç—å —Ä–∞–±–æ—Ç—ã –≤—ã–ø–æ–ª–Ω–µ–Ω–∞ –æ—Ç–ª–∏—á–Ω–æ;</div>
    
<div class="alert alert-warning">
<b>üïµÔ∏è‚Äç‚ôÄÔ∏è  –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ </b> ‚Äî –∂–µ–ª—Ç—ã–π —Ü–≤–µ—Ç —É–∫–∞–∂–µ—Ç –Ω–∞ —Ö–æ—Ä–æ—à–æ –ø—Ä–æ–¥–µ–ª–∞–Ω–Ω—É—é —Ä–∞–±–æ—Ç—É –∏ –ø—Ä–µ–¥–ª–æ–∂–∏—Ç (—Ö–æ—Ç—å —ç—Ç–æ –∏ –Ω–µ–æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ) –Ω–µ–º–Ω–æ–≥–æ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å —Ç–µ–∫—É—â–∏–π —ç—Ç–∞–ø –ø—Ä–æ–µ–∫—Ç–∞;</div>
    
<div class="alert alert-danger">
<b> üë®‚Äçüöí  –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞</b> ‚Äî –∫—Ä–∞—Å–Ω—ã–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ–∑–Ω–∞—á–∞–µ—Ç, —á—Ç–æ –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –∞—Å–ø–µ–∫—Ç—ã –ø—Ä–∏–¥–µ—Ç—Å—è –∏–∑–º–µ–Ω–∏—Ç—å, —Ç–∞–∫ –∫–∞–∫ –±–µ–∑ –∏—Ö –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏—è —Ä–∞–±–æ—Ç—É –ø—Ä–∏–Ω—è—Ç—å —è –Ω–µ —Å–º–æ–≥—É.</div> 
    
    
<div class="alert alert-info">
<b>üßë‚Äçüéì –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –¥–∂—É–Ω–∞ </b> ‚Äî –µ—Å–ª–∏ —Ö–æ—á–µ—à—å, —Ç–æ –º–æ–∂–µ—à—å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Å–∏–Ω–∏–π —Ü–≤–µ—Ç –¥–ª—è —Å–≤–æ–∏—Ö –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–µ–≤, —Å–∫–æ–ø–∏—Ä–æ–≤–∞–≤ —Ä–∞–∑–º–µ—Ç–∫—É –∏–∑ —ç—Ç–æ–π —è—á–µ–π–∫–∏</div>    



</div>

<h1>–°–æ–¥–µ—Ä–∂–∞–Ω–∏–µ<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#–ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ-–∫-–±–∞–∑–µ-–¥–∞–Ω–Ω—ã—Ö" data-toc-modified-id="–ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ-–∫-–±–∞–∑–µ-–¥–∞–Ω–Ω—ã—Ö-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>–ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö</a></span></li><li><span><a href="#–ò—Å—Å–ª–µ–¥—É–π—Ç–µ-—Ç–∞–±–ª–∏—Ü—ã-‚Äî-–≤—ã–≤–µ–¥–∏—Ç–µ-–ø–µ—Ä–≤—ã–µ-—Å—Ç—Ä–æ–∫–∏" data-toc-modified-id="–ò—Å—Å–ª–µ–¥—É–π—Ç–µ-—Ç–∞–±–ª–∏—Ü—ã-‚Äî-–≤—ã–≤–µ–¥–∏—Ç–µ-–ø–µ—Ä–≤—ã–µ-—Å—Ç—Ä–æ–∫–∏-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>–ò—Å—Å–ª–µ–¥—É–π—Ç–µ —Ç–∞–±–ª–∏—Ü—ã ‚Äî –≤—ã–≤–µ–¥–∏—Ç–µ –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏</a></span></li><li><span><a href="#–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ,-—Å–∫–æ–ª—å–∫–æ-–∫–Ω–∏–≥-–≤—ã—à–ª–æ-–ø–æ—Å–ª–µ-1-—è–Ω–≤–∞—Ä—è-2000-–≥–æ–¥–∞" data-toc-modified-id="–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ,-—Å–∫–æ–ª—å–∫–æ-–∫–Ω–∏–≥-–≤—ã—à–ª–æ-–ø–æ—Å–ª–µ-1-—è–Ω–≤–∞—Ä—è-2000-–≥–æ–¥–∞-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞</a></span></li><li><span><a href="#–î–ª—è-–∫–∞–∂–¥–æ–π-–∫–Ω–∏–≥–∏-–ø–æ—Å—á–∏—Ç–∞–π—Ç–µ-–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ-–æ–±–∑–æ—Ä–æ–≤-–∏-—Å—Ä–µ–¥–Ω—é—é-–æ—Ü–µ–Ω–∫—É" data-toc-modified-id="–î–ª—è-–∫–∞–∂–¥–æ–π-–∫–Ω–∏–≥–∏-–ø–æ—Å—á–∏—Ç–∞–π—Ç–µ-–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ-–æ–±–∑–æ—Ä–æ–≤-–∏-—Å—Ä–µ–¥–Ω—é—é-–æ—Ü–µ–Ω–∫—É-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>–î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É</a></span></li><li><span><a href="#–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ-–∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ,-–∫–æ—Ç–æ—Ä–æ–µ-–≤—ã–ø—É—Å—Ç–∏–ª–æ-–Ω–∞–∏–±–æ–ª—å—à–µ–µ-—á–∏—Å–ª–æ-–∫–Ω–∏–≥-—Ç–æ–ª—â–µ-50-—Å—Ç—Ä–∞–Ω–∏—Ü-‚Äî-—Ç–∞–∫-–≤—ã-–∏—Å–∫–ª—é—á–∏—Ç–µ-–∏–∑-–∞–Ω–∞–ª–∏–∑–∞-–±—Ä–æ—à—é—Ä—ã" data-toc-modified-id="–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ-–∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ,-–∫–æ—Ç–æ—Ä–æ–µ-–≤—ã–ø—É—Å—Ç–∏–ª–æ-–Ω–∞–∏–±–æ–ª—å—à–µ–µ-—á–∏—Å–ª–æ-–∫–Ω–∏–≥-—Ç–æ–ª—â–µ-50-—Å—Ç—Ä–∞–Ω–∏—Ü-‚Äî-—Ç–∞–∫-–≤—ã-–∏—Å–∫–ª—é—á–∏—Ç–µ-–∏–∑-–∞–Ω–∞–ª–∏–∑–∞-–±—Ä–æ—à—é—Ä—ã-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã</a></span></li><li><span><a href="#–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ-–∞–≤—Ç–æ—Ä–∞-—Å-—Å–∞–º–æ–π-–≤—ã—Å–æ–∫–æ–π-—Å—Ä–µ–¥–Ω–µ–π-–æ—Ü–µ–Ω–∫–æ–π-–∫–Ω–∏–≥-‚Äî-—É—á–∏—Ç—ã–≤–∞–π—Ç–µ-—Ç–æ–ª—å–∫–æ-–∫–Ω–∏–≥–∏-—Å-50-–∏-–±–æ–ª–µ–µ-–æ—Ü–µ–Ω–∫–∞–º–∏" data-toc-modified-id="–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ-–∞–≤—Ç–æ—Ä–∞-—Å-—Å–∞–º–æ–π-–≤—ã—Å–æ–∫–æ–π-—Å—Ä–µ–¥–Ω–µ–π-–æ—Ü–µ–Ω–∫–æ–π-–∫–Ω–∏–≥-‚Äî-—É—á–∏—Ç—ã–≤–∞–π—Ç–µ-—Ç–æ–ª—å–∫–æ-–∫–Ω–∏–≥–∏-—Å-50-–∏-–±–æ–ª–µ–µ-–æ—Ü–µ–Ω–∫–∞–º–∏-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏</a></span></li><li><span><a href="#–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ-—Å—Ä–µ–¥–Ω–µ–µ-–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ-–æ–±–∑–æ—Ä–æ–≤-–æ—Ç-–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π,-–∫–æ—Ç–æ—Ä—ã–µ-–ø–æ—Å—Ç–∞–≤–∏–ª–∏-–±–æ–ª—å—à–µ-50-–æ—Ü–µ–Ω–æ–∫" data-toc-modified-id="–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ-—Å—Ä–µ–¥–Ω–µ–µ-–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ-–æ–±–∑–æ—Ä–æ–≤-–æ—Ç-–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π,-–∫–æ—Ç–æ—Ä—ã–µ-–ø–æ—Å—Ç–∞–≤–∏–ª–∏-–±–æ–ª—å—à–µ-50-–æ—Ü–µ–Ω–æ–∫-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫</a></span></li></ul></div>

# –ü—Ä–æ–µ–∫—Ç –ø–æ SQL

–í–æ –≤—Ä–µ–º—è –∫–æ—Ä–æ–Ω–æ–≤–∏—Ä—É—Å–∞ –≤ —Å–≤–æ–±–æ–¥–Ω–æ–µ –≤—Ä–µ–º—è –∂–∏—Ç–µ–ª–∏ –≥–æ—Ä–æ–¥–æ–≤ —Å—Ç–∞–ª–∏ –±–æ–ª—å—à–µ —á–∏—Ç–∞—Ç—å —Ä–∞–∑–ª–∏—á–Ω—ã–µ –∫–Ω–∏–≥–Ω–∏. –î–∞–Ω–Ω—ã–π —Ñ–∞–∫—Ç –Ω–µ –æ—Å—Ç–∞–ª—Å—è –±–µ–∑ –≤–Ω–∏–º–∞–Ω–∏—è —Å—Ç–∞—Ä—Ç–∞–ø–µ—Ä–æ–≤ –∏ –æ–Ω–∏ —Ä–∏–Ω—É–ª–∏—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —á–∏—Ç–µ–Ω–∏—è –∫–Ω–∏–≥. –ù–∞—à–∞ –∫–æ–º–ø–∞–Ω–∏—è –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö. –í –Ω–µ–π —Å–æ–¥–µ—Ä–∂–∏—Ç—å—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —É–ª—É—á—à–∏—Ç—å –Ω–æ–≤—ã–π –ø—Ä–æ–¥—É–∫—Ç.

# –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

**–¢–∞–±–ª–∏—Ü–∞ books**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:
- book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- author_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- title ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
- num_pages ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
- publication_date ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
- publisher_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

**–¢–∞–±–ª–∏—Ü–∞ authors**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:
- author_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- author ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

**–¢–∞–±–ª–∏—Ü–∞ publishers**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:
- publisher_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
- publisher ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

**–¢–∞–±–ª–∏—Ü–∞ ratings**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:
- rating_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
- book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- username ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
- rating ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

**–¢–∞–±–ª–∏—Ü–∞ reviews**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö:
- review_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
- book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- username ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞ –æ–±–∑–æ—Ä–∞;
- text ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

<div class="alert alert-warning">
<b>üïµÔ∏è‚Äç‚ôÄÔ∏è  –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ </b>


–ù–∞ —Ñ–∏–Ω–∞–ª—å–Ω–æ–º —Å–ø—Ä–∏–Ω—Ç–µ –æ–∂–∏–¥–∞–µ—Ç—Å—è, —á—Ç–æ —É–∂–µ –Ω–µ –±—É–¥–µ—Ç –ø—Ä–æ—Å—Ç–æ–≥–æ –∫–æ–ø–∏—Ä–æ–≤–∞–Ω–∏—è –±—Ä–∏—Ñ–∞ –≤–æ –≤–≤–µ–¥–µ–Ω–∏–µ. –í–º–µ—Å—Ç–æ –Ω–µ–≥–æ —Ö–æ—á–µ—Ç—Å—è –≤–∏–¥–µ—Ç—å –∏–Ω—Ç–µ—Ä–ø—Ä–µ—Ç–∞—Ü–∏—é –∞–Ω–∞–ª–∏—Ç–∏–∫–∞, –µ–≥–æ —Å–ª–æ–≤–∞–º–∏ –∏–∑–ª–æ–∂–µ–Ω–Ω–æ–µ –≤–≤–µ–¥–µ–Ω–∏–µ 
    </div>

<div class="alert alert-info">
<b>üßë‚Äçüéì –ü–æ–ø—Ä–∞–≤–∏–ª </div>

<div class="alert alert-success">
<b> ü§å  –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ (v.2)</b>  
    
 üëç
    
</div>

## –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö

In [1]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
 db_config['pwd'],
 db_config['host'],
 db_config['port'],
 db_config['db'])

In [3]:
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

<div class="alert alert-warning">
<b>üïµÔ∏è‚Äç‚ôÄÔ∏è  –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ </b>


–ö–æ–≥–¥–∞ –∏ –∏–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫, –∏ –∏–º–ø–æ—Ä—Ç —Ñ–∞–π–ª–∞, –∏ —Å–æ–∑–¥–∞–Ω–∏–µ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è –ø—Ä–æ–∏—Å—Ö–æ–¥—è—Ç –≤ –æ–¥–Ω–æ–π —è—á–µ–π–∫–µ, —Ç–æ –∏–∑–º–µ–Ω–µ–Ω–∏—è –≤ –ª—é–±–æ–º –∏–∑ —ç—Ç–∏—Ö —à–∞–≥–æ–≤, –±–µ–∑—É—Å–ª–æ–≤–Ω–æ, –≤–µ–¥—É—Ç –∫ –ø–µ—Ä–µ–∑–∞–ø–∏—Å–∏ –≤—Å–µ—Ö –æ—Å—Ç–∞–ª—å–Ω—ã—Ö.
    
    
–ù–∞–ø—Ä–∏–º–µ—Ä, —Ç—ã –∑–∞—Ö–æ—á–µ—à—å —Ä–∞—Å—à–∏—Ä–∏—Ç—å —á–∏—Å–ª–æ –∏—Å–ø–æ–ª—å–∑—É–µ–º—ã—Ö –±–∏–±–ª–∏–æ—Ç–µ–∫, –Ω–æ –¥–ª—è —ç—Ç–æ–≥–æ –∑–∞–Ω–æ–≤–æ –ø—Ä–∏–¥–µ—Ç—Å—è –ø–µ—Ä–µ–∑–∞–ø–∏—Å—ã–≤–∞—Ç—å –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é, –∞ –∑–Ω–∞—á–∏—Ç –ø–µ—Ä–µ—Å—á–∏—Ç—ã–≤–∞—Ç—å –Ω–æ—É—Ç–±—É–∫. 
    
    
–ß—Ç–æ–±—ã —ç—Ç–æ–≥–æ –∏–∑–±–µ–∂–∞—Ç—å, –ª—É—á—à–µ —Å—Ä–∞–∑—É —Ä–∞–∑–¥–µ–ª—è—Ç—å –ª–æ–≥–∏—á–µ—Å–∫–∏ —Ä–∞–∑–Ω—ã–µ –≤–µ—â–∏:
    
‚Äî –∏–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫   
‚Äî –∑–∞–≥—Ä—É–∑–∫–∞ —Ñ–∞–π–ª–æ–≤    
‚Äî —Ä–∞–±–æ—á–∏–π –∫–æ–¥   
‚Äî –∏ —Ç.–¥.
    </div>

<div class="alert alert-info">
<b>üßë‚Äçüéì –ü–æ–ø—Ä–∞–≤–∏–ª </div>

<div class="alert alert-success">
<b> ü§å  –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ (v.2)</b>  
    
–°—É–ø–µ—Ä!
    
</div>

In [4]:
def select(query):
    return pd.read_sql(query,con=engine)

## –ò—Å—Å–ª–µ–¥—É–π—Ç–µ —Ç–∞–±–ª–∏—Ü—ã ‚Äî –≤—ã–≤–µ–¥–∏—Ç–µ –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏

–í—ã–≤–µ–¥–µ–º –Ω–∞ —ç–∫—Ä–∞–Ω –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã —Å –¥–∞–Ω–Ω—ã–º–∏ –æ –∫–Ω–∏–≥–∞—Ö

In [5]:
sql_books = ''' SELECT * FROM books '''
books = select(sql_books)
books.head()

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

–í—ã–≤–µ–¥–µ–º –Ω–∞ —ç–∫—Ä–∞–Ω –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã —Å –¥–∞–Ω–Ω—ã–º–∏ –æ –∞–≤—Ç–æ—Ä–∞—Ö

In [6]:
sql_authors = ''' SELECT * FROM authors '''
authors = select(sql_authors)
authors.head()

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

–í—ã–≤–µ–¥–µ–º –Ω–∞ —ç–∫—Ä–∞–Ω –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã —Å –¥–∞–Ω–Ω—ã–º–∏ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö

In [7]:
sql_publishers= ''' SELECT * FROM publishers '''
publishers = select(sql_publishers) 
publishers.head()

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

–í—ã–≤–µ–¥–µ–º –Ω–∞ —ç–∫—Ä–∞–Ω –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã —Å –¥–∞–Ω–Ω—ã–º–∏ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥

In [8]:
sql_ratings = ''' SELECT * FROM ratings '''
ratings = select(sql_ratings) 
ratings.head()

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

–í—ã–≤–µ–¥–µ–º –Ω–∞ —ç–∫—Ä–∞–Ω –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã —Å –¥–∞–Ω–Ω—ã–º–∏ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏

In [9]:
sql_reviews = ''' SELECT * FROM reviews '''
reviews = select(sql_reviews) 
reviews.head()

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

<div class="alert alert-warning">
<b>üïµÔ∏è‚Äç‚ôÄÔ∏è  –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ </b>

    
–õ—É—á—à–µ –≤—Å–µ–≥–¥–∞ –∏–º–µ—Ç—å –≤–≤–∏–¥—É, —á—Ç–æ –æ—Ç—Å—É—Ç—Å—Ç–≤–∏–µ –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏—è –≤ –∑–∞–ø—Ä–æ—Å–µ, –ø–æ–ø—Ä–æ—Å—Ç—É ```limit``` –º–æ–∂–µ—Ç –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ —É–±–∏—Ç—å –ë–î, –µ—Å–ª–∏ –≤ —Ç–∞–±–ª–∏—Ü–µ –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –º–Ω–æ–≥–æ –¥–∞–Ω–Ω—ã—Ö, –∞ –º—ã –∏—Ö –ø—ã—Ç–∞–µ–º—Å—è –ø–æ–ª—É—á–∏—Ç—å –∑–∞–ø—Ä–æ—Å–æ–º –≤–∏–¥–∞ ```—Å–µ–ª–µ–∫—Ç –≤—Å–µ –∏ –µ—â–µ –Ω–µ–º–Ω–æ–≥–æ –±–æ–ª—å—à–µ``` üôÇ
    </div>

## –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞

In [10]:
query = '''
SELECT COUNT(DISTINCT book_id) AS count_books
FROM books
WHERE publication_date >= '2000-01-01'
'''
select(query)

   count_books
0          821

–ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã–ø—É—â–µ–Ω–∞ 821 –∫–Ω–∏–≥–∞

<div class="alert alert-success">
<b> ü§å  –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ </b>  
    
![](https://i.gifer.com/FQY.gif)
    
    
</div>

## –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É

In [11]:
query = '''
SELECT
 books.book_id AS id,
 books.title AS title_book,
 AVG(ratings.rating) AS AVG_rating,
 COUNT(DISTINCT reviews.review_id) AS number_of_reviews
FROM books
 INNER JOIN reviews ON reviews.book_id = books.book_id
 INNER JOIN ratings ON ratings.book_id = books.book_id
GROUP BY
 id,
 title_book
ORDER BY
 number_of_reviews DESC
LIMIT 10
'''
select(query)

,id,title_book,avg_rating,number_of_reviews
0,948,Twilight (Twilight #1),3.662500,7
1,696,The Da Vinci Code (Robert Langdon #2),3.830508,6
2,207,Eat Pray Love,3.395833,6
3,627,The Alchemist,3.789474,6
4,673,The Catcher in the Rye,3.825581,6
5,695,The Curious Incident of the Dog in the Night-Time,4.081081,6
6,302,Harry Potter and the Prisoner of Azkaban (Harr...,4.414634,6
7,299,Harry Potter and the Chamber of Secrets (Harry...,4.287500,6
8,497,Outlander (Outlander #1),4.125000,6
9,656,The Book Thief,4.264151,6

–í—ã–≤–µ–ª–∏ —Ç–æ–ø 10 –∫–Ω–∏–≥ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –æ–±–∑–æ—Ä–æ–≤. –õ–∏–¥–µ—Ä–æ–º –æ–∫–∞–∑–∞–ª–∞—Å—å –∫–Ω–∏–≥–∞ "Twilight (Twilight #1)" —É –Ω–µ–µ 7 –æ–±–∑–æ—Ä–æ–≤, —Ö–æ—Ç—è –∏ –Ω–µ —Å–∞–º—ã–π –±–æ–ª—å—à–æ–π —Ä–µ—Ç–∏–Ω–≥ (3,7)

<div class="alert alert-success">
<b> ü§å  –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ </b>  
    
–û—Ç–ª–∏—á–Ω–æ —Å—Ä–∞–±–æ—Ç–∞–Ω–æ
    
</div>

## –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã

In [12]:
query = '''
SELECT
 publishers.publisher_id AS id,
 publishers.publisher AS publisher,
 COUNT(DISTINCT books.book_id) AS number_of_books
FROM publishers
 LEFT JOIN books ON books.publisher_id = publishers.publisher_id
WHERE 
 books.num_pages > 50
GROUP BY
 id,
 publisher
ORDER BY
 number_of_books DESC
LIMIT 10
'''
select(query)

    id                 publisher  number_of_books
0  212             Penguin Books               42
1  309                   Vintage               31
2  116  Grand Central Publishing               25
3  217          Penguin Classics               24
4   33          Ballantine Books               19
5   35                    Bantam               19
6   45                   Berkley               17
7   46             Berkley Books               14
8  284        St. Martin's Press               14
9   83                     Delta               13

–û–∫–∞–∑–∞–ª–æ—Å—å, —á—Ç–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ –≤—ã–ø—É—Å—Ç–∏–≤—à–µ–µ –Ω–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ - —ç—Ç–æ Penguin Books

<div class="alert alert-success">
<b> ü§å  –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ </b>  
    
–°–æ–≤–µ—Ä—à–µ–Ω–Ω–æ –≤–µ—Ä–Ω–æ
    
    
![](https://i.gifer.com/4kj1.gif)
    
    
</div>

## –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏

In [13]:
query = '''
WITH data as (
SELECT
   a.author,
   r.book_id,
   COUNT(rating) as count_rating,
   AVG(rating) as avg_rating
FROM
   ratings r
LEFT JOIN books b ON r.book_id = b.book_id
LEFT JOIN authors a ON b.author_id = a.author_id
GROUP BY
    a.author,
    r.book_id
HAVING
   COUNT(rating) > 50
   )

SELECT
    author,
    AVG(avg_rating) as avg_rating,
    SUM(count_rating)
FROM
    data
GROUP BY
    author
ORDER BY
    avg_rating DESC
'''
select(query)

                                               author  avg_rating    sum
0                          J.K. Rowling/Mary GrandPr√©    4.283844  310.0
1                   Markus Zusak/Cao Xu√¢n Vi·ªát Kh∆∞∆°ng    4.264151   53.0
2                                      J.R.R. Tolkien    4.258446  162.0
3                                   Louisa May Alcott    4.192308   52.0
4                                        Rick Riordan    4.080645   62.0
5                                     William Golding    3.901408   71.0
6                                       J.D. Salinger    3.825581   86.0
7            Paulo Coelho/Alan R. Clarke/√ñzdemir ƒ∞nce    3.789474   57.0
8   William Shakespeare/Paul Werstine/Barbara A. M...    3.787879   66.0
9                                           Dan Brown    3.754540  143.0
10                                         Lois Lowry    3.750000   56.0
11            George Orwell/Boris Grabnar/Peter ≈†kerl    3.729730   74.0
12                                    Stephenie Meyer    3.662500  160.0
13                                     John Steinbeck    3.622951   61.0

–ê–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–µ–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ - J.K. Rowling/Mary GrandPr√©, –∑–∞ –Ω–µ–π –∏–¥—ë—Ç Markus Zusak/Cao Xu√¢n Vi·ªát Kh∆∞∆°ng

<div class="alert alert-danger">
<b> üë®‚Äçüöí  –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞</b> 
    
–£ —Ç–µ–±—è –ø–æ–ª—É—á–∏–ª–∞—Å—å —Ç–∞–±–ª–∏—Ü–∞ —Å –∞–≤—Ç–æ—Ä–∞–º–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö –∫–Ω–∏–≥–∏ –ø–æ–ª—É—á–∏–ª–∏ –±–æ–ª–µ–µ 50 –æ—Ü–µ–Ω–æ–∫. –ê –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —É—á–∏—Ç—ã–≤–∞—Ç—å –¥–ª—è —ç—Ç–∏—Ö —Å–∞–º—ã—Ö –∞–≤—Ç–æ—Ä–æ–≤ —Ç–æ–ª—å–∫–æ —Ç–µ –∫–Ω–∏–≥–∏, –ø–æ –∫–æ—Ç–æ—Ä—ã–º –µ—Å—Ç—å –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫. –ì—Ä–∞–Ω—å —Ç–æ–Ω–∫–∞, —è –ø–æ–Ω–∏–º–∞—é. –ü–æ—ç—Ç–æ–º—É –µ—Å—Ç—å –ø–æ–¥—Å–∫–∞–∑–∫–∞ ‚Äî –≤ –≤—ã–≤–æ–¥ –¥–æ–ª–∂–Ω–æ –±—ã—Ç—å —É—á—Ç–µ–Ω–æ –Ω–µ 312 –æ—Ü–µ–Ω–æ–∫ –∫–Ω–∏–≥ –†–æ—É–ª–∏–Ω–≥ (–∫–∞–∫ —Å–µ–π—á–∞—Å ‚Äî –µ—Å–ª–∏ –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å count), –∞ —Ç–æ–ª—å–∫–æ 310 üòâ 
</div>

<div class="alert alert-info">
<b>üßë‚Äçüéì –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –¥–∂—É–Ω–∞ </b> –ü–æ–ø–ø—Ä–∞–≤–∏–ª, —Ç–µ–ø–µ—Ä—å —É—á–∏—Ç—ã–≤–∞–µ—Ç—Å—è 310 –∫–Ω–∏–≥ (–ø—Ä–æ–≤–µ—Ä–∫—É –≤ –≤—ã–≤–æ–¥–µ –æ—Å—Ç–∞–≤–∏–ª) </div>

<div class="alert alert-success">
<b> ü§å  –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ (v.2)</b>  
    
–î–∞, —Ç–µ–ø–µ—Ä—å –≤—Å–µ —Ä–∞–±–æ—Ç–∞–µ—Ç —Ç–∞–∫, –∫–∞–∫ –æ–∂–∏–¥–∞–ª–æ—Å—å. –°—É–ø–µ—Ä! –ü–æ–∑–¥—Ä–∞–≤–ª—è—é —Å –∑–∞–≤–µ—Ä—à–µ–Ω–∏–µ–º —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥ —Å–ø—Ä–∏–Ω—Ç–∞!
    
    
![](https://i.gifer.com/2DV.gif)
    
</div>

## –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫

In [14]:
query = '''
SELECT
 AVG (number_of_reviews) AS AVG_count
 FROM
 (
   SELECT
    COUNT (review_id) AS number_of_reviews
   FROM
    reviews
   INNER JOIN
   (SELECT
     username,
     COUNT (rating_id) AS number_of_ratings
    FROM
     ratings
    GROUP BY
     username
    HAVING COUNT (rating_id) > 50 ) AS ratings_users ON ratings_users.username = reviews.username
    GROUP BY
    reviews.username
 ) AS number_of_reviews
'''
select(query)

   avg_count
0  24.333333

–°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫ —Ä–∞–≤–Ω–æ 24

<div class="alert alert-success">
<b> ü§å  –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ </b>  
    
–í—Å–µ —Ç–∞–∫
    
</div>

# –ò—Ç–æ–≥–∏

- –ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã–ø—É—â–µ–Ω–∞ 821 –∫–Ω–∏–≥–∞
- –õ–∏–¥–µ—Ä–æ–º —Å—Ä–µ–¥–∏ –∫–Ω–∏–≥ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –æ–±–∑–æ—Ä–æ–≤ –æ–∫–∞–∑–∞–ª–∞—Å—å –∫–Ω–∏–≥–∞ "Twilight (Twilight #1)" —É –Ω–µ–µ 7 –æ–±–∑–æ—Ä–æ–≤
- –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ –≤—ã–ø—É—Å—Ç–∏–≤—à–µ–µ –Ω–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ - —ç—Ç–æ Penguin Books
- –ê–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–µ–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ - J.K. Rowling/Mary GrandPr√©
- –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫ —Ä–∞–≤–Ω–æ 24